.elements__like {
    transition: .3s;
}

.elements__like:hover {
    opacity: .5;
}

.elements__like:active {
    background-image: url(../../../images/fill_heart.svg);
    background-repeat: no-repeat;
}