.profile__title-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 47px;
}

@media screen and (max-width: 744px) {
    .profile__title-icon {
            max-width: 217px;
    }
}